@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Big Shoulders Display', cursive; 
    font-family: 'Lexend Deca', sans-serif;
}

body {
    min-height: 100vh;
}

.container {
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#grid-container{
    display: grid;
    grid-template-areas: 
    'a a a b b'
    'a a a b b'
    'c c d d d'
    'c c e e e';
    margin: auto;
    padding: 2em 0;
    gap:10px;
    width: 80%;
}

.grid-item{
    padding: 5em;
}

.red {
    background-color: red;
    grid-area: a;
}

.orange {
    background-color: orange;
    grid-area: b;
}

.green { 
    background-color: green;
    grid-area: c;
}

.cyan {
    background-color: cyan;
    grid-area: d;
}

.cyan2 {
    background-color: cyan;
    grid-area: e;
}